{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}Hotels Notebook.{% endblock title%}

{% block content%}

<h1 class="title1"><a href="{{ url_for('index') }}" style="color:#456268;" title="首頁">Hotels Notebook.</a></h1>
<div class="book_table">
  <form method="post" action={{ url_for('add') }}>
    <table cellpadding="10" border='0'>
      <tr>
        <th>飯店編號</th>
        <td>*系統自動生成*</td>
      </tr>
      <tr>
        <th>飯店名稱</th>
        <td><input type="text" name="name" ></td>
      </tr>
      <tr>
        <th>飯店地址</th>
        <td><input type="text" name="address" ></td>
      </tr>
      <tr>
        <th>價格</th>
        <td><input type="text" name="price"></td>
      </tr>
      <tr>
        <th>描述</th>
        <td><input type="text" name="category"></td>
      </tr>
            <tr>
        <th>訂房平台</th>
        <td>
          <select name="platform">
            <option value="w003">TripAdvisor</option>
            <option value="w001">booking</option>
            <option value="w002">BNB</option>
        </select>
      </tr>
    </table>
    <div class="btn_div">
      &emsp;&emsp;<button type="submit">新增商品</button> 
      <button><a href="{{ url_for('manager') }}" style="color:#FFFFFF;">回上一頁</button> 
    </div>
  </form>
</div>

{% endblock content%}