{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Hotels Notebook.{% endblock title%}

{% block content%}
<div class="btn_div">
  <h1 class="title1"><a href="{{ url_for('index') }}" style="color:#456268;" title="首頁">Hotels Notebook.</a></h1>
  <a href="{{ url_for('cart') }}" title="收藏清單"><img class="cart" src="{{ url_for('static', filename='./image/notebook.png') }}"></a>
  <a href="{{ url_for('logout') }}"  title="登出"><img class="logout" src="{{ url_for('static', filename='./image/logout.png') }}"></a>
  </div>
<div class="btn_div">
  <p class="welcome">{{user}} , 歡迎回來!</p>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  
<script language="javascript">

  alert('您沒有管理員的權限');

</script>

{% endif %}
{% endwith %}

<div class="book_table">
  <form method="post" action={{ url_for('cart') }}>
    <table cellpadding="10" border='0'>
      <tr>
        <th>飯店編號</th>
        <th>飯店名稱</th>
        <th></th>
        <th></th>
      </tr>
      {% for book in book_data %}
      <tr>
        <td> {{ book.商品編號 }}</td>
        <td> {{ book.商品名稱 }}</td>
        <td><a href="{{ url_for('bookstore', hid=book.商品編號) }}"><button type="button">更多資訊</button></a></td>
        <td><button type="submit" value="{{book.商品編號}}" name="hid" >加到我的收藏</button></td>
        
        <!-- 傳遞商品編號 -->
      </tr>
      {% endfor %}
    </table>
  </form>
</div>

{% endblock content%}