{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}Hotels Notebook. 飯店人氣排行 {% endblock title%}
{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <!-- Dashboard -->
  <div id="dashboard">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
       </div>
      <a href="{{ url_for('manager') }}" title="回飯店管理"><img class="dash_manager" src="{{ url_for('static', filename='./image/shop.png') }}"></a>

      <a href="{{ url_for('logout') }}" title="登出"><img class="dash_logout" src="{{ url_for('static', filename='./image/logout.png') }}"></a>
      
    </nav>
  </div>
  <br/>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <center> 
        <div id="maina" class="container-fluid" style="width:1200px;height:500px"></div>
      </center>
    </div>
  </div>
</div>

<script>
  // 以長條圖與折線圖分析各月訂單
  var chartDoma = document.getElementById('maina');
  var myCharta = echarts.init(chartDoma);
  var data = {{revenue|tojson}};
  let name1 = {{namelist|tojson}}

  var option = {
            title: {
                text: '飯店瀏覽次數'
            },
            legend: {
                data: ['銷量']
            },
            xAxis: {
                data: name1
            },
            yAxis: {},
            series: [{
      name: '',
      type: 'bar',
      // symbol: 'circle',
      symbolSize: 16,
      data: data,
      label: {
        show: true,
        position: 'top',
        textStyle: {
          fontSize: 15
        }
      }
    }
    ]
        };

  setTimeout(function() {
    run();
  }, 0);
        
  setInterval(function() {
    update();
  }, 3000);

  option && myCharta.setOption(option);

      
</script>

{% endblock content %}