{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}Hotels Notebook.{% endblock title%}

{% block content%}

<h1 class="book_title">Hotels Notebook.</h1>
<div class="book_table">
  <form method="post" action={{ url_for('edit') }}>
    <table cellpadding="10" border='0'>
      <tr>
        <th>飯店編號</th>
        <td><input type="text" value="{{ data.商品編號 }}" name="hid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>飯店名稱</th>
        <td><input type="text" value="{{ data.商品名稱 }}" name="name" ></td>
      </tr>
      <tr>
        <th>地點</th>
        <td><input type="text" value="{{ data.地點 }}" name="address"></td>
      </tr>
      <tr>
        <th>價錢</th>
        <td><input type="text" value="{{ data.單價 }}" name="price"></td>
  
      </tr>
      <tr>
        <th>敘述</th>
        <td><input type="text" value="{{ data.類別 }}" name="category"></td>
  
      </tr>
    </table>
    <div class="btn_div">
      <button type="submit">確定修改</button> 
      <a href="{{ url_for('manager') }}"><button type="button">回上一頁</button></a>
    </div>
  </form>
</div>

{% endblock content%}