{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Hotels Notebook.{% endblock title%}

{% block content%}

<h1 class="book_title">Hotels Notebook.</h1>
<div class="book_table">
  <table cellpadding="10" border='0'>
    <tr>
      <th>飯店編號</th>
      <td> {{ data.商品編號 }}</td>
    </tr>
    <tr>
      <th>飯店名稱</th>
      <td> {{ data.商品名稱 }}</td>
    </tr>
    <tr>
      <th>地點</th>
      <td> {{ data.單價 }}</td>
    </tr>
    <tr>
      <th>描述</th>
      <td> {{ data.類別 }}</button></td>
    </tr>
</table>
</div>
<div class="btn_div">
  <a href="{{ url_for('bookstore') }}">
    <button class="back_btn">回上一頁</button>
  </a>
</div>
{% endblock content%}